<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Applications" 
             type="UKParliament.MyConstituency.Api.Configuration.ApplicationAuthorizationConfiguration, UKParliament.MyConstituency.Api"/>
  </configSections>
  <Applications>
    <Keys>
      <add key="My Constituency" value="7b2a92a8-f20b-4366-bc36-2677a301e64f"/>
    </Keys>
  </Applications>
</configuration>
